<div class="container">
  <div class="message" [@fade]="this.currentMessageIndex >= this.messages.length ? 'fade-in' : fade">
    <p *ngFor="let msg of currentMessage">
      {{msg}}
    </p>
  </div>
  <div class="images"[ngStyle]="finalMessage ? {'max-height': '230px', 'min-height': 'initial'} : {}">
      <img [src]="currentImage" [@fade]="fade" (@fade.done)="onAnimationDone($event)">
  </div>
  <div class="message" *ngIf="finalMessage">
    <p>
      You are the best thing to ever happen to me. <br>
      I can't imagine living without you. 
    </p>
  </div>
  <div data-video="zFztuRC-hts" data-autoplay="0" data-loop="0" id="youtube-audio" class="play" (click)="play()"></div>
</div>