.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #0e1111;
    flex-direction: column;
    overflow: hidden;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    .play {
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
        margin-top: 35px;

        &:hover {
            cursor: pointer;
        }
    }

    .images {
        width: 90%;
        flex: 1;
        max-height: 400px;
        min-height: 400px;
        overflow: hidden;
        border-radius: 40px;

        img {
            width: 100%;
            height: auto;
            border-radius: 40px;
        }
    }

    .message {
        font-size: 24px;
        color: white;
        p {
            text-align: center;
        }
    }
}